{% extends 'shared/_MainLayout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="col-md-8 offset-md-2">
        <ul class="list-group">
            <li class="list-group-item bg-danger text-light"><h3>polls</h3></li>
            {% for poll in polls %}
                <li class="list-group-item d-flex justify-content-between">
                    <p class="pull-left">{{ poll.question }}</p>
                    <div class="pull-right">
                        <a href="{% url 'poll:vote' poll.id %}" class="btn btn-outline-success">vote</a>
                        <a href="{% url 'poll:result' poll.id %}" class="btn btn-outline-info">result</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
